.admin-dashboard {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* Navigacija tablica */
.table-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.table-navigation button {
  background-color: #f1c933;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.table-navigation button.active {
  background-color: #073590;
  color: white;
}

/* Navigacija između 'Examine' i 'Insert' */
.action-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.action-navigation button {
  padding: 8px 15px;
  border: none;
  background-color: #f1c933;
  cursor: pointer;
  border-radius: 5px;
}

.action-navigation button.active {
  background-color: #073590;
  color: white;
}

/* Tablica podataka */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #073590;
  color: white;
}

td input {
  width: 100%;
  padding: 5px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

/* Insert forma */
.insert-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

.insert-form h3 {
  color: #073590;
}

.insert-form form {
  display: flex;
  flex-direction: column;
}

.insert-form label {
  font-weight: bold;
  margin-top: 10px;
}

.insert-form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.insert-form button {
  background-color: #f1c933;
  border: none;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.insert-form button:hover {
  background-color: #073590;
  color: white;
}


.refresh-container {
  margin-top: 20px;
  text-align: center;
}
.refresh-container button {
  background-color: #073590;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.refresh-container button:hover {
  background-color: #f1c933;
}


/* Popup poruka */
.popup-message {
  position: fixed;
  bottom: -100px; /* Početna pozicija (skriveno) */
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  min-width: 250px;
  max-width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease-in-out;
}

/* Kada se pojavi, dolazi s dna */
.popup-message.show {
  bottom: 30px;
}

/* Stilovi za uspješan unos */
.success {
  background-color: #28a745;
}

/* Stilovi za grešku */
.error {
  background-color: #dc3545;
}
